
/*---------------------------------------------------------------------
------------------------------ HEADER ---------------------------------
-----------------------------------------------------------------------*/
.bg-header{
    width: 100%;
    background-color: #005a71;
}
.bg-navbar{
    background: #99cc33;
   
}
.navbar-img{
    width: 40px;
    
}

.border-left-right{
        position: relative;
        
}
.border-right{
    position: relative;
    
}
.border-left-right:before{
	content:'';
    position: absolute;
    background-color: #fff;
    width: 6px;
    height: 70%;
    bottom: 5px;
    left:0px;
}
.border-left-right:after{
	content:'';
    position: absolute;
    background-color: #fff;
    width: 6px;
    height: 70%;
    bottom: 5px;
    right:0px;
}
.border-right:after{
	content:'';
    position: absolute;
    background-color: #fff;
    width: 6px;
    height: 70%;
    bottom: 5px;
    right:0px;
}
.margin-l-r{
    margin: 0 15px;
}
.d-block-header {
    display: block !important
}
.d-none-header {
    display: none !important
}
.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
}
/*---------------------------------------------------------------------
------------------------------ Cards Selection ---------------------------------
-----------------------------------------------------------------------*/
.card {
   
    border: 0px solid rgba(0, 0, 0, .125);
    border-radius: 0;
}
.px-7 {
    padding-right: 7rem !important;
    padding-left: 7rem !important;
}
.bg-box{
    text-align: center;
    padding: 1rem 1rem;
}
.bg-1{
    background: #f49716;
    

}
.bg-2{
    background: #169979;
   

}
.bg-3{
    background: #f06847;
   

}
.bg-4{
    background: #14ab9f;
    

}

.w-number-img{
    width: 164px;
    height: auto;
    margin: auto;
}
.card-body {
    flex: 1 1 auto;
    padding: 0;
}
.card-title {
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;;
}
.card-text:last-child {
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}
.btn{
    border: 1px solid transparent;
    padding: .375rem 2.75rem;
    font-size: 1.5rem;
    border-radius: 30px;

    width: 18%;
    font-size: 1.4rem;
    padding: .375rem 0;
    margin-bottom: 2rem;
    color: #fff;
    
}
.btn:hover{
    
    color: #fff;
    background: #005a71;
    border-color: #005a71;
    
}
.btn:active{
    
    color: #fff;
    background: #005a71;
    border-color: red;
    
}
.btn-color-1 {
 
   

  
    background-color: #6d4f78;
    border-color: #6d4f78;
}
.btn-color-2 {
 
   

    background-color: #3eb95a;
    border-color: #3eb95a;
}
.btn-color-3 {
 
   
   
    background-color: #7acb42;
    border-color: #7acb42;
}
.btn-color-4 {
 
   
   
    background-color: #e64054;
    border-color: #e64054;
}
.btn-color-5 {
 

    color: #fff;
    background-color: #ed5e2d;
    border-color: #ed5e2d;
}
.btn-color-6 {
 

    background-color: #3454ad;
    border-color: #3454ad;
}
.btn-color-7 {
 

    
    background-color: #f79b2f;
    border-color: #f79b2f;
}
.btn-color-8 {
 

   
    background-color: #6d7274;
    border-color: #6d7274;
}
.btn-color-9 {
 

    background-color: #e56f87;
    border-color: #e56f87;
}
.btn-color-10 {
 

    
    background-color: #4ebdd3;
    border-color: #4ebdd3;
}
.btn-color-11 {
 

    
    background-color: #3d82cc;
    border-color: #3d82cc;
}
.btn-color-12 {
 

  
    background-color: #7e2871;
    border-color: #7e2871;
}
.btn-color-13 {
 

    
    background-color: #3fb5a3;
    border-color: #3fb5a3;
}
.btn-color-14 {
 

    
    background-color: #a82842;
    border-color: #a82842;
}

.card-group {
    display: flex;
    flex-flow: row wrap;
}
.card-group>.card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.card-group>.card {
    flex: 1 0 50%;
    margin-bottom: 0;
}
.link-icon-circle{
    color: #fff;
    text-decoration: none;
}
.link-icon-circle:hover{
    color: #005a71;
    text-decoration: none;
}
/*------------------
-------Cursos------
--------------------*/
.title-cursos{
    color: #6e7274;
    font-weight: 900;
    font-size: 4rem;
}
.subtitle-cursos{
    color: #6e7274;
    font-weight: 900;
    font-size: 2rem;
}
.btn-facebook{
    background: #1278f3;
    padding: 0.5rem 0.5rem;
    color: #fff;
    font-weight: 600;
}
.btn-twitter{
    background: #1da1f2;
    padding: 0.5rem 0.5rem;
    color: #fff;
    font-weight: 600;
}
.btn-comparte{
    background: #8dc63c;
    padding: 0.5rem 0.5rem 0.6rem 0.5rem;
    color: #fff;
    font-weight: 600;
}
.btn-numero{
    color: #6e7274;
    padding: 0.5rem 0.5rem;
    font-weight: 900;
}
.btn-facebook:hover{
    
    color: #fff;
    opacity: 0.7;
}
.btn-twitter:hover{
  
    color: #fff;
    opacity: 0.7;
}
.btn-comparte:hover{
    
    color: #fff;
    opacity: 0.7;
}
.btn-numero:hover{
    color: #6e7274;
    opacity: 0.7;
}
.justify-content-end-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.img-card-circle{
    width: fit-content;
    margin: auto;
}
/*------------------
-------Tecnologías de la Información------
--------------------*/
.box-ti{
    background: #3fb5a3;
    
}
.title-ti{
    color: #fff;
    font-weight: 900;
    font-size: 3rem;
    padding: 0.5rem 0;
}

.card-title-2 {
    margin-bottom: 0;
    color: #6e7274;
    font-weight: 600;
}
.mr-1-5-resp{
    margin-right: 1.5rem!important;
}
.ml-1-5-resp{
    margin-left: 1.5rem!important;
}
.btn-gray{
    border: 6px solid transparent;
    padding: .375rem 2.75rem;
    font-size: 1.5rem;
    border-radius: 30px;

   
    color: #6d7274;
    
}
.btn-gray:hover{
    
    color: #fff;
    background: #6d7274;
    border-color: #6d7274;
    
}
.btn-gray:active{
    
    color: #fff;
    background: #005a71;
    border-color: red;
    
}
.btn-color-gray {
    background-color: #fff;
    border-color: #999999;
}
.border-bottom-gray{
    border-bottom: 6px solid #999999;
}


/*------------------
-------Diplomados------
--------------------*/

.box-di{
    background: #225870;
}
.title-di{
    color: #fff;
    font-weight: 900;
    font-size: 2.5rem;
    padding: 2rem 0;
}

.card-title-2 {
    margin-bottom: 0;
    color: #6e7274;
    font-weight: 600;
}


/*---------------------------------------------------------------------
------------------------------ FOOTER ---------------------------------
-----------------------------------------------------------------------*/

.bg-footer {
    width: 100%;
    background-color: #005a71;
}
.d-flex-global{
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.d-flex-footer-text{
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    list-style: none;
}

.text-footer{
        color: #fff;
        font-weight: 900;
}
.text-footer:hover{
    color: #6e7274;
    font-weight: 900;
}

/*---------------------------------------------------------------------
------------------------------ MEDIA ---------------------------------
-----------------------------------------------------------------------*/

@media screen and (max-width: 1200px) {
   
    }
    @media screen and (max-width: 1025px) {
        .d-block-header {
            display: none !important
        }
        .d-none-header {
            display: block !important
        }
        .px-7 {
            padding-right: 4rem !important;
            padding-left: 4rem !important;
        }
        .border-left-right:before{
            content:'';
            position: absolute;
            background-color: transparent;
            width: 0px;
            height: 0%;
            bottom: 0px;
            left:0px;
        }
        .border-left-right:after{
            content:'';
            position: absolute;
            background-color: transparent;
            width: 0px;
            height: 0%;
            bottom: 0px;
            left:0px;
        }
        .border-right:after{
            content:'';
            position: absolute;
            background-color: transparent;
            width: 0px;
            height: 0%;
            bottom: 0px;
            left:0px;
        }
        .btn {
           
            width: 30%;
            font-size: 1.4rem;
            padding: .375rem 0;
            
        }
    }
    @media screen and (max-width: 992px) {
        .btn {
           
            width: 40%;
            margin-bottom: 1rem;
           
            
        }
    }
    
    @media screen and (max-width: 768px) {
        .px-7 {
            padding-right: 2rem !important;
            padding-left: 2rem !important;
        }
        .justify-content-end-center{
            display: flex;
            justify-content: center;
            
        }
        .title-cursos {
            
            font-size: 3rem;
        }
        .subtitle-cursos {
     
            font-size: 1.5rem;
        }
        .title-ti {
           
            font-size: 2rem;
            
        }
        .card-title-2 {
          font-size: 1rem;
        }
        .title-di {
           
            font-size: 1.5rem;
           
        }
    }

    @media screen and (max-width: 426px) {
        .px-7 {
            padding-right: 1rem !important;
            padding-left: 1rem !important;
        }
        .btn {
           
            width: 70%;
            margin: auto;
           font-size: 1rem;
            
        }
        .w-number-img {
            width: 82px;
            height: auto;
            margin: auto;
        }
        .card-title {
          
            font-size: large;
        }
        .title-cursos {
            
            font-size: 2rem;
        }
        .subtitle-cursos {
     
            font-size: 1rem;
        }
        .title-ti {
           
            font-size: 1rem;
            
        }
        .card-title-2 {
          font-size: 14px;
        }
        .title-di {
           
            font-size: 1rem;
           
        }
        .card-text:last-child {
           
            font-size: 10px;
        }
        .btn-gray {
           
            padding: .375rem 0.75rem;
            font-size: 1rem;
            
        }
        .card {
            margin-bottom: 1rem;
        }
        .img-card-circle {
            width: 50%;
            margin: auto;
        }


    }

    @media screen and (max-width: 320px) {
        .card-title {
          
            font-size: medium;
        }
        .card-text:last-child {
           
            font-size: 8px;
        }
    }


    @media (min-width: 576px){
        .card-group>.card {
            flex: 1 0 50%;
            margin-bottom: 0;
        }
        }
    @media (min-width: 769px){
    .card-group>.card {
        flex: 1 0 0%;
        margin-bottom: 0;
    }
    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto
    }
    }
    